/* {
    border: 1px solid red;
}
/**/
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


.user-info img {
    max-height: 2.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.user-posts h2 {
    text-align: center;
}
.username {
    text-align: center;
    position: relative;
    bottom: 1em;
    color: black;
    text-decoration: none;
}

.user-info .username {
    padding-bottom: 0.1em;
    
}

.username:hover {
    text-decoration: underline;
    color: #303030
}
.post-image img, .post-image video {
    max-height: 40em;
    max-width: 40em;
}

.post {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1em;
    
}



.post-image {
    margin-right: 4em;
    float: left;
    
    white-space: nowrap;
}

.post-body {
    margin-left: 4em;
    display: inline;
    width: 30%;
    overflow-y: auto;
    max-height: 30em;
}

.caption {
    max-height: 30em;
    overflow-y: auto;
}

.carousel {
    overflow: auto;
    min-width: 30em;
    max-width: 40em;
}

.comments {
    height: 40em;
    overflow-y: auto;
    padding: 4%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.post-time {
    color: #3a3a3a;
    size: 0.5em;
}

.user-info {
    display: block;
    margin-bottom: 0.5em;
   
}


nav img {
    max-height: 3em;
    
}

nav {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 2em;
    max-height: 3em;
    
}

.user-info-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
    width: 60%;
    padding: 3%;
    
}

.next-button {
    padding: 0.5em;
    
    width: 6em;
    margin: 0 auto;
    margin-bottom: 4em;
    border: 1em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.next-button a {
    color: black;
    text-decoration: none;
    
    display: inline;
    text-align: center;
    
}

.next-button:hover {
    background-color: #D4D3D4;
    text-decoration: underline;
}



@media only screen and (max-width: 850px)  {
    .post-image {
        float: none;
    }

    .post {
        margin-right: 5%;
        margin-left: 5%;
    }
    .post-image img, .post-image video {
        max-height: 30em;
        max-width: 30em;
    }
}




