:root {

    --bg-color: #111215;
    --card-color: #1A1B1E;
    --main-text-color: #F4F4F6;
    --alt-text-color: #A0A0A5;


    --main-shadow: 0px 4px 12px rgba(0, 0, 0, 0.32);
    --outline-shadow:
    rgba(255, 255, 255, 0.04) 0px 1px 3px 0px,
    rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;


    --nav-icon-hover-color: none; /* setting this to a proper colour interferes with the filter */

    --button-bg-color: #F5F5F7;
    --button-text-color: #111215;
    --button-border-radius: 20px;
    --button-border: 2px solid #2C2D32;

    --button-bg-color-on-hover: #2C2D32;
    --button-text-color-on-hover: #F5F5F7;


    --searchbar-border: 2px solid #2C2D32;

    --link-text-color: #6CA8FF;
    --link-hover-color: #A9C9FF;
    --link-visited-color: #9BA2D0;
}

nav img {
    filter: brightness(0) invert(1);
}

